<ion-view title="Login" hide-nav-bar="true">
    <ion-content padding="true">
        <img src="img/app.png" style="width: 100%; height: auto;">
        <h1 class="center" style="color: #55cb7c">NEOPET</h1>
        <form ng-submit="login(user)">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="user.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class="button button-positive button-block ">Entrar</button>
        </form>
    </ion-content>
</ion-view>
